body.light {
    background-color: #FFF3FD;
}

.light .header {
    height: 0.1%;
    width: 100%;
    background-image: linear-gradient(270deg, #F7C9F3 0%, #4180F6 100%);
    box-shadow: 0 1px 0 0 #110038;
}

.light .logo {
    /* text-indent: -9999px; */
    width: 102.6px;
    height: 64px;
    background-image: url(../images/gifOF_logo.png);
    background-size: 90%;
    background-repeat: no-repeat;
    position: absolute;
    margin: 35px 0px 19px 0px;
}

.light .botonTema {
    font-family: 'Chakra Petch', sans-serif;
    font-size: 16px;
    background-color: #F7C9F3;
    height: 28px;
}


.light .botonTema:hover {
    /* outline: 1px dotted black; */
    background: #E6BBE2;
}

.light .day {
    display: flex;
    font-family: 'Chakra Petch', sans-serif;
    font-size: 16px;
    background: #FFF4FD;
    border: 1px solid #CCA6C9;
    box-shadow: inset -1px -1px 0 0 #E6DCE4, inset 1px 1px 0 0 #FFFFFF;
    padding: 5px 5px 5px 10px;
    margin: 10px;
    width: 140px;
}

.light .night {
    display: flex;
    font-family: 'Chakra Petch', sans-serif;
    font-size: 16px;
    background: #F0F0F0;
    border: 1px solid #808080;
    box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
    padding: 5px 5px 5px 10px;
    margin: 10px;
    width: 140px;
}

.light .botones {
    font-family: 'Chakra Petch', sans-serif;
    font-size: 16px;
    display: flex;
    justify-content: center;
    width: 127px;
    height: 32px;   
    /* margin-left: 48px;
    line-height: 28px; */
    float: right;
    margin-right: 16px;
    color: #110038;
    background-color: #F7C9F3;
    border: 1px solid #110038;
    box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
    text-decoration: none;
    text-align: center;
    line-height: 28px;
}

.light .botones:hover {
    outline: 1px dotted black;
    background: #E6BBE2;
    border: 1px solid #110038;
    box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
}

.light .botones-special {
    margin-right: 0;
}

.light .dropdown {
    display: inline-flex;
    width: 32px;
    height: 32px;
    float: right;
    padding: 10px; 
    /* margin-right: 16px; */
    color: #110038;
    background-color: #F7C9F3;
    border: 1px solid #110038;
    box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
    text-decoration: none;
    background-image: url(../images/dropdown.svg);
    background-size: 10px;
    background-position: center;
    background-repeat: no-repeat;
}

.light .dropdown:hover {
    outline: 1px dotted black;
    background: #E6BBE2;
    text-decoration: none;
    background-image: url(../images/dropdown.svg);
    background-size: 10px;
    background-position: center;
    background-repeat: no-repeat;
}

.light .special-li {
    width: 95px;
    height: 32px;
    background-color: #FFF3FD;
    display: inline-flex;
    float: right;
    font-size: 16px;
    color: #110038;
    padding-top: 7px;
    padding-left: 10px;
    margin-left: 6px; 
    letter-spacing: 0;
    line-height: 18px;
    text-decoration: none;
}

.light .special-li:hover {
    border: 1px dashed #110038;
}

.light .special-li:active {
    border: none;
    color: #8D7E9E;
}

.light .underline {
    text-decoration: underline;
}

/* .menu li a:hover {
    color: #00F3BB;
    text-decoration: line-through;
}

.menu li a:active {
    color: rgba(6,10,36,0.56);
    text-decoration: line-through;
} */

.light .buscarS {
    width: 90%;
    height: 99px;
    /* margin-left: 100px; */
    /* margin-right: 140px; */
    background: #E6E6E6;
    box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
}

.light .buscarSClick {
    display: none;
    width: 90%;
    height: 160px;
    background: #E6E6E6;
    box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
    padding-top: 15px;
}

.light .buscarSClickTema {
    padding-left: 10px;
    margin-left: 15px;
    margin-bottom: 10px;
    width: 90%;
    height: 36px;
    background: #F0F0F0;
    border: 1px solid #808080;
    box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
    font-size: 16px;
    color: #110038;
    letter-spacing: 0;
    line-height: 22px;
    text-align: left;
}

.buscar:active .buscarSClick {
    display: block;
}

.light .buscarT {
    color: white;
    font-weight: bold;
    background-image: linear-gradient(270deg, #F7C9F3 0%, #4180F6 100%);
    width: 99.5%;
    height: 24px;
    position: relative;
    top: 3px;
    left: 3px;
    padding-left: 3px;
}

.light .boton {
    font-family: 'Chakra Petch', sans-serif;
    color: #B4B4B4;
    background: #E6E6E6;
    border: 1px solid #808080;
    box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
    width: 7.1%;
    height: 36px;
    float: right;
    margin-right: 10px;
    margin-top: 18px;
    /* text-align: center;
    line-height: 28px; */
}

.light .ejemplos {
    display: inline-block;
    margin-top: 10px;
    padding: 5px;
    background: #4180F6;
    border: 1px solid #4C2F99;
    box-shadow: inset -2px -2px 0 0 #284F99, inset 2px 2px 0 0 #FFFFFF;
    font-size: 14px;
    color: #FFFFFF;
    letter-spacing: 0;
    line-height: 18px;

}

.light .rectanguloS {
    /* margin-left: 100px; */
    margin-top: 64px;
    padding: 5px;
    width: 90%;
    height: 32px;
    background: #FFFAFE;
    border: 1px solid #E6BBE2;
    box-shadow: inset -2px -2px 0 0 #E6DCE4, inset 2px 2px 0 0 #80687D;
}

.light .titulo {
    position: relative;
    height: 24px;
    width: 98.5%;
    max-width: 264px;
    left: 2px;
    top: 2px;
    background-image: linear-gradient(270deg, #F7C9F3 0%, #4180F6 100%);
    color: white;
    font-family: 'Chakra Petch', sans-serif;
    font-weight: bold;
    font-size: 14px;
    padding-left: 4px;
    padding-top: 2px;
}

.light .vermas {
    position: relative;
    bottom: 42px;
    left: 12px;
    width: 81px;
    height: 34px;
    background: #4180F6;
    border: 1px solid #4C2F99;
    box-shadow: inset -2px -2px 0 0 #284F99, inset 2px 2px 0 0 #FFFFFF;
    color: white;
}

.light .misG {
    margin-top: 0px;
}

.light .textSugerencia {
    margin: 2px;
    background-image: linear-gradient(270deg, #F7C9F3 0%, #4180F6 100%);
    width: 98%;
    height: 24px;
    color: white;
}

.light .crearGif {
    width: 684px;
    height: 386px;
    /* display: grid; */
    margin-left: 20%;
    background: #E6E6E6;
    box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
}

.light .botonCancelar {
    padding: 6.5px 35px;
    width: 144px;
    height: 36px;
    background: #FFF4FD;
    border: 1px solid #110038;
    box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
    position: relative;
    top: 316.5px;
    right: 180px;
    font-family: 'Chakra Petch', sans-serif;
    font-size: 16px;
    color: #110038;
    letter-spacing: 0;
    text-align: center;
    line-height: 18px;
    text-decoration: none;
}

.light .botonComenzar {
    width: 144px;
    height: 36px;
    background: #F7C9F3;
    border: 1px solid #110038;
    box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
    position: relative;
    top: 288px;
    right: 40px;
    font-family: 'Chakra Petch', sans-serif;
    font-size: 16px;
    color: #110038;
    letter-spacing: 0;
    text-align: center;
    line-height: 18px;
}

.light .gifsT {
    display: none;
    height: 25px;
    width: 98.5%;
    position: relative;
    bottom: 27px;
    left: 2px;
    background-image: linear-gradient(270deg, #F7C9F3 0%, #4180F6 100%);
    font-size:14px;
    color: white;
}

.light .crearGifCamara {
    /* display: none; */
    width: 860px;
    height: 548px;
    margin-left: 10%;
    background: #E6E6E6;
    box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
}

.light .botonCamara {
    width: 36px;
    height: 36px;
    position: relative;
    top: 5.5px;
    left: 670px;
    background: #F7C9F3;
    border: 1px solid #110038;
    box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
    padding-top:5px;
}

.light .botonCapturar {
    width: 144px;
    height: 36px;
    background: #F7C9F3;
    border: 1px solid #110038;
    box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
    position: relative;
    top: 2px;
    left: 665px;
    font-family: 'Chakra Petch', sans-serif;
    font-size: 16px;
    color: #110038;
    letter-spacing: 0;
    text-align: center;
    line-height: 18px;
}

.light .botonRepetir {
    width: 144px;
    height: 36px;
    background: #FFF4FD;
    border: 1px solid #110038;
    box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
    position: relative;
    top: 2px;
    left: 430px;
    font-family: 'Chakra Petch', sans-serif;
    font-size: 16px;
    color: #110038;
    letter-spacing: 0;
    text-align: center;
    line-height: 18px;
}

.light .botonSG {
    width: 144px;
    height: 36px;
    background: #F7C9F3;
    border: 1px solid #110038;
    box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
    position: relative;
    top: 2px;
    left: 430px;
    font-family: 'Chakra Petch', sans-serif;
    font-size: 16px;
    color: #110038;
    letter-spacing: 0;
    text-align: center;
    line-height: 18px;
}

.light .SG {
    top: 5px;
    left: 705px;
}

.light .guifoCreado {
    /* display: none; */
    width: 721px;
    height: 391px;
    margin-left: 20%;
    background: #E6E6E6;
    box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
}

.light .guifoGrabado {
    margin-left: 27px;
    margin-top: 29px;
    width: 365px;
    height: 191px;
    /* opacity: 0.3; */
    background: #FFFFFF;
    border: 1px solid #979797;
    box-shadow: inset -2px -2px 0 0 #E6E6E6, inset 2px 2px 0 0 #000000;
}

.light .guifosM {
    display: flex;
}

.light .guifoSM {
    margin-top: 45px;
    margin-left: 30px;
}

.light .guifoComp {
    margin-top: 10px;
    width: 256px;
    height: 36px;
    background: #FFF4FD;
    border: 1px solid #110038;
    box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
    font-size: 16px;
    color: #110038;
    letter-spacing: 0;
    text-align: center;
    line-height: 18px;
}

.light .listoBtn {
    padding: 6.5px 45px;
    top: 90px;
    left: 540px;
    text-decoration: none;
}